{
  "extends": "stylelint-config-standard",
  "processors": [
    "@mapbox/stylelint-processor-arbitrary-tags"
  ],
  "plugins": [
    "stylelint-scss"
  ],
  "rules": {
    "no-empty-source": null
  }
}
